img {
  width:250px;
  height:250px;
  object-fit: cover;
  padding: 15px;
  border-radius: 50%;
}
#title {
  text-align: center;
  font-size: xx-large;
  color: rgb(104, 214, 159);
}

div.card-body {
  background-color: rgb(136, 226, 222);
  color: pink;
}

div.container {
  font-size: xx-small;
}

div.col-xs-6 {
  padding: 20px;
}

h1 {
  font-size: xx-large;
}